<div class="form-popup" id="myForm">
    <div class="form-content">
        <div class="align-right"> <i class="fa fa-close" onclick="closeForm()"></i> </div>
        <h2>{{ site.data.i18n.de.contact.title }}</h2>
        <form class="form-style-7" id="contact-form">
            <input type="hidden" name="contact_number">
            <ul>
                <li>
                    <label for="name">{{ site.data.i18n.de.contact.name.label }}</label>
                    <input type="text" name="user_name" maxlength="100">
                    <span>{{ site.data.i18n.de.contact.name.help }}</span>
                </li>
                <li>
                    <label for="email">{{ site.data.i18n.de.contact.email.label }}</label>
                    <input type="email" name="user_email" maxlength="100">
                    <span>{{ site.data.i18n.de.contact.email.help }}</span>
                </li>
                <li>
                    <label for="phone">{{ site.data.i18n.de.contact.phone.label }}</label>
                    <input type="text" name="user_phone" maxlength="100">
                    <span>{{ site.data.i18n.de.contact.phone.help }}</span>
                </li>
                <li>
                    <label for="company">{{ site.data.i18n.de.contact.company.label }}</label>
                    <input type="text" name="user_company" maxlength="100">
                    <span>{{ site.data.i18n.de.contact.company.help }}</span>
                </li>
                <li>
                    <label for="message">{{ site.data.i18n.de.contact.message.label }}</label>
                    <textarea name="message"></textarea>
                    <span>{{ site.data.i18n.de.contact.message.help }}</span>
                </li>
                <li>
                    <input type="submit" value="{{ site.data.i18n.de.contact.send }}">
                </li>
            </ul>
        </form>
    </div>
</div>