 @media only screen and (max-width: 1200px) {
     .navbar-nav li {
         margin-right: 20px;
     }
     .check-title img {
         width: 100%;
     }
     .services-wrap {
         padding-top: 20px;
         padding-bottom: 90px;
     }
     .services-image {
         margin-top: 80px;
     }
     .app-image {
         top: -60px;
     }
     .app-image-second {
         top: 93px;
     }
 }
 
 @media only screen and (max-width: 992px) {
     .disable {
         display: none;
     }
     .collapse {
         display: none;
     }
     .menu-sticky {
         display: none !important;
     }
     .navbar-wrap {
         position: fixed;
         padding-top: 0;
         background-color: #ffffff;
     }
     .navbar-wrap-overlay.active {
         height: 100%;
         -webkit-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
         transition: all 0.2s ease;
     }
     .navbar {
         position: relative;
         padding: 0;
     }
     .navbar-menu {
         position: relative;
         display: inline-block;
         padding-top: 10px;
         width: 100%;
         text-align: center;
         z-index: 2;
     }
     .navbar-menu .navbar-nav {
         position: relative;
         float: none;
     }
     .navbar-menu .navbar-nav li {
         margin: 12px 0;
         float: none;
     }
     .navbar-menu .navbar-nav li a {
         width: 100%;
         text-align: center;
     }
     .navbar-menu .navbar-nav .dropdown-column a {
         text-align: left;
     }
     .multi-column {
         min-width: 350px;
     }
     .navbar-menu .dropdown:hover .dropdown-menu {
         left: 10px;
     }
     .navbar-menu .nav-button {
         margin-bottom: 40px;
     }
     .navbar-menu .navbar-full {
         width: 100%;
     }
     .navbar-header {
         float: right;
     }
     .icon-bar:last-child {
         margin-bottom: 0 !important;
     }
     .navbar-toggle {
         position: relative;
         display: block;
         background-image: none;
         padding: 0;
         margin: 0 0 0 0 !important;
     }
     .navbar-toggle .icon-bar {
         margin-top: 9px;
         margin-bottom: 5px;
         display: block;
         width: 15px;
         height: 1px;
         -webkit-transition: 0.3s ease;
         -o-transition: 0.3s ease;
         transition: 0.3s ease;
     }
     .screen-one-title {
         padding-top: 0;
         padding-bottom: 60px;
     }
     .screen-one-image,
     .product-image-left,
     .product-image-right {
         position: relative;
         width: 100%;
         height: 500px;
         margin-bottom: 40px;
     }
     .screen-one-button {
         margin-bottom: 0;
     }
     .headpage-title {
         padding-top: 0;
         padding-bottom: 60px;
     }
     .headpage-image {
         position: relative;
         width: 100%;
         height: 360px;
         margin-top: -40px;
     }
     .headpage-button {
         margin-bottom: 0;
     }
     .services-wrap {
         padding-top: 60px;
     }
     .services-item:first-child {
         padding-top: 0;
     }
     .services-item-title {
         float: left;
     }
     .services-item-title h3 {
         float: right;
     }
     .services-item-title-icon {
         margin-left: 0;
         margin-right: 15px;
     }
     .services-item p {
         text-align: left;
     }
     .services-image {
         margin-top: 40px;
     }
     .services-image img {
         width: 50%;
     }
     .directions-container:before {
         display: none;
     }
     .directions-item {
         padding: 0;
     }
     .directions-box {
         margin: 0;
         margin-bottom: 20px;
         position: relative;
     }
     .directions-box:after {
         top: -16px;
         left: 12px;
         -webkit-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
         transform: rotate(90deg);
     }
     .screen-two {
         margin-bottom: 100px;
     }
     .screen-two-item:first-child {
         margin-top: 60px;
     }
     .product-item:first-child {
         margin-top: 60px;
     }
     .screen-two-image {
         position: relative;
         height: 500px;
         width: 100%;
     }
     .app {
         margin: 0;
     }
     .app-image img {
         position: relative;
     }
     .app-image-first {
         left: 0%;
         z-index: 1;
     }
     .app-image-second {
         position: absolute !important;
         left: 150px !important;
         top: 123px;
         z-index: 2;
     }
     .app h2 {
         padding-top: 72px;
     }
     .team-wrap {
         margin-top: 94px;
         margin-bottom: 63px;
     }
     .questions {
         margin-bottom: 0;
     }
     .questions-container-image img {
         position: relative;
     }
     .questions-container-image-first {
         left: 0%;
         z-index: 2;
     }
     .questions-container-image-second {
         position: absolute !important;
         left: 245px !important;
         z-index: 1;
     }
     .testimonials {
         margin-top: 100px;
     }
     .testimonials-wrap {
         margin-bottom: 60px;
     }
     .subscribe-wrap {
         margin-bottom: 100px;
     }
     .subscribe-title {
         width: 100%;
         margin-bottom: 54px;
     }
     .subscribe-title h2 {
         text-align: center;
     }
     .subscribe-title p {
         padding-top: 19px;
         text-align: center;
     }
 }
 
 @media only screen and (max-width: 641px) {
     #map-canvas {
         position: relative;
         height: 400px;
     }
     .map-wrap {
         margin: 0;
     }
     .map-wrap-bg {
         width: 100%;
     }
     .map-wrap-item:after {
         display: none;
     }
     .map-wrap-item:last-child {
         padding-bottom: 0;
     }
 }
 
 @media only screen and (max-width: 480px) {
     .header-button {
         margin-right: 20px;
     }
     .header-image-container {
         display: none;
     }
     .main-button .btn-default {
         min-width: 140px;
     }
     .screen-one-image,
     .product-image-left,
     .product-image-right {
         height: 250px;
     }
     .headpage-image {
         height: 250px;
     }
     .services-image img {
         width: 50%;
     }
     .app-image img {
         width: 60%;
     }
     .app-image-second {
         left: 140px !important;
     }
     .screen-two-image {
         height: 250px;
     }
     .questions-container-image img {
         width: 55%;
     }
     .questions-container-image-first {
         left: 0%;
     }
     .questions-container-image-second {
         position: absolute !important;
         left: 170px !important;
     }
 }
 
 @media only screen and (max-width: 360px) {
     .logo-navbar {
         padding-top: 5px;
     }
     .main-button .btn-default {
         padding: 0 20px;
         height: 45px;
         line-height: 45px;
         min-width: 100px;
     }
     .about-item-icon {
         float: none;
         margin-bottom: 20px;
     }
     .screen-one-image,
     .product-image-left,
     .product-image-right {
         height: 250px;
     }
     .screen-one-item span {
         width: 60px;
         height: 60px;
         line-height: 60px;
     }
     .screen-one-item-container {
         padding-left: 0;
         padding-top: 40px;
     }
     .headpage-image {
         height: 250px;
     }
     .headpage-item span {
         width: 60px;
         height: 60px;
         line-height: 60px;
     }
     .headpage-item-container {
         padding-left: 0;
         padding-top: 40px;
     }
     .services-item-title-icon {
         display: block;
         margin-bottom: 20px;
     }
     .app-image-second {
         top: 80px;
         left: 100px !important;
     }
     .questions-container-image-first {
         left: 0%;
     }
     .questions-container-image-second {
         left: 115px !important;
     }
 }
 
 @media only screen and (max-width: 992px) {
     .headpage {
         margin-top: 60px;
         padding-bottom: 20px;
     }
     .product-image-left {
         left: 0;
     }
     .product-image-right {
         right: 0;
     }
 }