assets/video/banner-de.mp4 filter=lfs diff=lfs merge=lfs -text
assets/video/banner-fr.mp4 filter=lfs diff=lfs merge=lfs -text
assets/video/hotel.mp4 filter=lfs diff=lfs merge=lfs -text
assets/video/teaser_de.mp4 filter=lfs diff=lfs merge=lfs -text
assets/video/teaser_it.mp4 filter=lfs diff=lfs merge=lfs -text
assets/video/association_fr.mp4 filter=lfs diff=lfs merge=lfs -text
assets/video/banner.mp4 filter=lfs diff=lfs merge=lfs -text
assets/video/multisite.mp4 filter=lfs diff=lfs merge=lfs -text
assets/video/teaser.mp4 filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_image_brochure_fr.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_image_brochure_it.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/anleitung_startzeitenbuchung.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/brochure_fr.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_corporate_memberships_de.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/Brochure_Online_Card_Accaptance_DE.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/brochure_en.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_agent_brochure_it.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/Brochure_Ballautomat.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/Brochure_Omni_Channel_Payment.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/Brochure_Online_Card_Accaptance.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_image_brochure_tr.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/brochure.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_image_brochure_de.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_image_brochure_en.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/golf_federation_suite_brochure.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_agent_brochure_de.pdf filter=lfs diff=lfs merge=lfs -text
assets/brochure/nexxchange_agent_brochure_en.pdf filter=lfs diff=lfs merge=lfs -text
