<div class="form-popup" id="myForm">
    <div class="form-content">
        <div class="align-right"> <i class="fa fa-close" onclick="closeForm()"></i> </div>
        <h2>Contact us</h2>
        <form class="form-style-7" id="contact-form">
            <input type="hidden" name="contact_number">
            <ul>
                <li>
                    <label for="name">Name</label>
                    <input type="text" name="user_name" maxlength="100">
                    <span>Enter your full name</span>
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" name="user_email" maxlength="100">
                    <span>Enter a valid email address</span>
                </li>
                <li>
                    <label for="phone">Phone</label>
                    <input type="text" name="user_phone" maxlength="100">
                    <span>Enter a valid phone number</span>
                </li>
                <li>
                    <label for="company">Company</label>
                    <input type="text" name="user_company" maxlength="100">
                    <span>Enter your company's name</span>
                </li>
                <li>
                    <label for="message">Message</label>
                    <textarea name="message"></textarea>
                    <span>Type your message here</span>
                </li>
                <li>
                    <input type="submit" value="Send">
                </li>
            </ul>
        </form>
    </div>
</div>