<div class="questions">
    <div class="questions-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="questions-container-image"> <img class="questions-container-image-first" src="{{ "/assets/img/questions-img-1.jpg" | absolute_url }}" alt="alt"> </div>
                </div>
                <div class="col-md-6">
                    <div class="questions-container-title">
                        <h2>{{ site.data.i18n[page.lang].blocks.faq.title }}</h2>
                    </div>
                    <div class="questions-container-accordion">
                        {% for q in site.data.faq[page.lang] %}
                            <div class="questions-container-accordion-set">
                                <a><h3>{{ q.question }}</h3></a>
                                <div class="content {% if forloop.index == 1 %}content-on{% endif %}">
                                    <p>{{ q.answer }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>