<div class="navbar-wrap">
    <div class="navbar {{ include.navbarClass }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar-menu">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="logo-navbar">
                            <a href="{% tl index %}"><img src="{{ "/assets/img/logo.png" | prepend: site.baseurl_root }}" alt="logo" class="logo-sticky"><img src="{{ "/assets/img/logo_white.png" | prepend: site.baseurl_root }}" alt="logo" class="logo-normal"></a>
                        </div>
                        <div class="collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu multi-column">
                                        <div class="dropdown-column">
                                            <div class="dropdown-column-title">golf</div>
                                            <li><a href="{% tl members %}">Members</a></li>
                                            <li><a href="{% tl greenfee %}">Greenfee</a></li>
                                            <li><a href="{% tl mixed %}">Mixed</a></li>
                                            <li><a href="{% tl municipal %}">Municipal</a></li>
                                            <li><a href="{% tl golf-multi-site %}">Multi Site</a></li>
                                        </div>
                                        <div class="dropdown-column">
                                            <div class="dropdown-column-title">hotel</div>
                                            {% comment %}
                                            <li><a href="{% link pages/city-hotel.html %}">City Hotels</a></li>
                                            <li><a href="{% link pages/resorts.html %}">Golf Resorts</a></li>
                                            <li><a href="{% link pages/hotel-multisite.html %}">Multi Site</a></li>
                                            {% endcomment %}
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu multi-column">
                                        <div class="dropdown-column">
                                            <div class="dropdown-column-title">golf</div>
                                            <li><a href="{% tl index %}#about">General</a></li>
                                            {% comment %}
                                            <li><a href="{% link pages/teesheet.html %}">Tee Sheet</a></li>
                                            <li><a href="{% link pages/online-booking.html %}">Booking & Payment</a></li>
                                            <li><a href="{% link pages/crm.html %}">CRM</a></li>
                                            <li><a href="{% link pages/pos.html %}">Point of Sale</a></li>
                                            <li><a href="{% link pages/accounting.html %}">Accounting</a></li>
                                            <li><a href="{% link pages/tournaments.html %}">Tournaments</a></li>
                                            <li><a href="{% link pages/statistics.html %}">Reporting</a></li>
                                            {% endcomment %}
                                        </div>
                                        <div class="dropdown-column">
                                            <div class="dropdown-column-title">hotel</div>
                                            <li><a href="{% tl index %}#services">General</a></li>
                                            {% comment %}
                                            <li><a href="{% link pages/roombooking.html %}">Room booking</a></li>
                                            <li><a href="{% link pages/checkin.html %}">Check in/out</a></li>
                                            <li><a href="{% link pages/housekeeping.html %}">Housekeeping</a></li>
                                            <li><a href="{% link pages/roomrates.html %}">Room rates</a></li>
                                            {% endcomment %}
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-full">
                            <div class="collapse bs-example-js-navbar-scrollspy">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% tl index %}#video">Videos</a></li>
                                    <li><a href="{% tl index %}#team">About</a></li>
                                    <li><a href="{% tl pricing %}">Pricing</a></li>
                                    <li>
                                        <a class="bluefont" href="tel:{{ site.phoneNumber }}"></a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav">
                                    <li class="sl-nav">
                                        <ul>
                                            <li>
                                                <i class="sl-flag flag-{{ site.lang }}"></i>
                                                <ul>
                                                    {% for lang in site.languageNames %}
                                                        <li>
                                                            {% if page.namespace %}
                                                                <a href="{% tl {{ page.namespace }} {{ lang[0] }} %}" title="{{ lang[1] }}">
                                                                    <i class="sl-flag flag-{{ lang[0] }}"></i>
                                                                </a>
                                                            {% else %}
                                                                <a href="{% tl index {{ lang[0] }} %}" title="{{ lang[1] }}">
                                                                    <i class="sl-flag flag-{{ lang[0] }}"></i>
                                                                </a>
                                                            {% endif %}
                                                            {% if lang[0] == site.lang %}
                                                                <span class="active"></span>
                                                            {% else %}
                                                                <span></span>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>