<div class="navbar-wrap">
    <div class="navbar {{ include.navbarClass }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar-menu">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="logo-navbar">
                            <a href="{% link index.html %}"><img src="{{ "/assets/img/logo.png" | relative_url }}" alt="logo" class="logo-sticky"><img src="{{ "/assets/img/logo_white.png" | relative_url }}" alt="logo" class="logo-normal"></a>
                        </div>
                        <div class="collapse bs-example-js-navbar-scrollspy">
                            <ul class="nav navbar-nav">
                                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu multi-column">
                                        <div class="dropdown-column">
                                            <div class="dropdown-column-title">golf</div>
                                            <li><a href="{% link pages/members.html %}">Members</a></li>
                                            <li><a href="{% link pages/greenfee.html %}">Greenfee</a></li>
                                            <li><a href="{% link pages/mixed.html %}">Mixed</a></li>
                                            <li><a href="{% link pages/municipal.html %}">Municipal</a></li>
                                            <li><a href="{% link pages/golf-multisite.html %}">Multi Site</a></li>
                                        </div>
                                        <div class="dropdown-column">
                                            <div class="dropdown-column-title">hotel</div>
                                            <li><a href="{% link pages/city-hotel.html %}">City Hotels</a></li>
                                            <li><a href="{% link pages/resorts.html %}">Golf Resorts</a></li>
                                            <li><a href="{% link pages/hotel-multisite.html %}">Multi Site</a></li>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu multi-column">
                                        <div class="dropdown-column">
                                            <div class="dropdown-column-title">golf</div>
                                            <li><a href="{% link index.html %}#about">General</a></li>
                                            <li><a href="{% link pages/teesheet.html %}">Tee Sheet</a></li>
                                            <li><a href="{% link pages/online-booking.html %}">Booking & Payment</a></li>
                                            <li><a href="{% link pages/crm.html %}">CRM</a></li>
                                            <li><a href="{% link pages/pos.html %}">Point of Sale</a></li>
                                            <li><a href="{% link pages/accounting.html %}">Accounting</a></li>
                                            <li><a href="{% link pages/tournaments.html %}">Tournaments</a></li>
                                            <li><a href="{% link pages/statistics.html %}">Reporting</a></li>
                                        </div>
                                        <div class="dropdown-column">
                                            <div class="dropdown-column-title">hotel</div>
                                            <li><a href="{% link index.html %}#services">General</a></li>
                                            <li><a href="{% link pages/roombooking.html %}">Room booking</a></li>
                                            <li><a href="{% link pages/checkin.html %}">Check in/out</a></li>
                                            <li><a href="{% link pages/housekeeping.html %}">Housekeeping</a></li>
                                            <li><a href="{% link pages/roomrates.html %}">Room rates</a></li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-full">
                            <div class="collapse bs-example-js-navbar-scrollspy">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% link index.html %}#video">Videos</a></li>
                                    <li><a href="{% link index.html %}#team">About</a></li>
                                    <li><a href="{% link pages/pricing.html %}">Pricing</a></li>
                                    <li>
                                        <a class="bluefont" href="tel:00431606207010"></a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav">
                                    <li class="sl-nav">
                                        <ul>
                                            <li><i class="sl-flag flag-uk"></i>
                                                <ul>
                                                    <li><a href="index-de"><i class="sl-flag flag-de"> </i>
                                                        </a> <span class="active"></span> </li>
                                                    <li><a href="index-fr"><i class="sl-flag flag-fr"> </i>
                                                        </a> <span></span></li>
                                                    <li><a href="index-it"><i class="sl-flag flag-it"> </i>
                                                        </a> <span></span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>