<div class="headpage">
    <div class="container-max">
        <div class="row">
            <div class="col-md-6">
                <div class="headpage-title">
                    <h2>{{ include.title }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-max">
        <div class="headpage-image head-golf-features"></div>
    </div>
    <div class="container-max">
        <div class="row">
            <div class="col-md-5">
                <div class="headpage-item-container">
                    <p>{{ include.subtitle }}</p>
                </div>
                <div class="headpage-button main-button"><a class="btn btn-default btn-block" role="button" onclick="openForm()">{{ site.data.i18n.en.global.contactUs }}</a></div>
                <div class="headpage-button main-button"><a href="{{ page.lang }}/pricing/" class="btn btn-default btn-block" role="button">{{ site.data.i18n.en.global.seePricing }}</a></div>
            </div>
        </div>
    </div>
</div>