<section class="testimonials">
    <div class="testimonials-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="testimonials-title">
                        <h2>{% t "blocks.testimonials.title" %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonials-slider slider">
                    {% for testimonial_hash in site.data.testimonials[site.lang] %}
                        {% assign testimonial = testimonial_hash[1] %}
                        <div class="col-md-6">
                            <div class="testimonials-item"> <span class="quotes">“</span>
                                <p>{{ testimonial.text }}</p>
                                <h3>{{ testimonial.name }}</h3>
                                <p>{{ testimonial.role }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <br>
            <a href="https://www.capterra.com/reviews/201943/Nexxchange-GolfSuite?utm_source=vendor&utm_medium=badge&utm_campaign=capterra_reviews_badge">
                <img src="https://assets.capterra.com/badge/944a45ea49e430ff09922b3fff4d3992.png?v=2144344&p=20194" alt="capterra" />
            </a>
        </div>
    </div>
</section>