---
layout: content-de
title: members
navbarClass: stick
lang: de

permalink: /de/mitglieder/
---

{%- include page-header.html -%}

{% assign sorted_products = site.data.pages[page.title].blocks[page.lang] | sort %}
{% for product_hash in sorted_products %}
    {% assign product = product_hash[1] %}

    {% capture productContent %}
        <h2>{{ product.title }}</h2>
        <br>
        <p>{{ product.description }}</p>
        <br>
        <table class="table">
            <tbody>
                {% for point in product.points %}
                    <tr>
                        <td>{%- include svg-list-item.html -%}</td>
                        <td>{{ point }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcapture %}
    {% include blocks/product.html image=product.image content=productContent %}
{% endfor %}

{% include what-we-can-do.html %}
