---
id: en-greenfee
layout: default
title: greenfee
navbarClass: stick
lang: en

permalink: /en/greenfee/
---

{%- include page-header.html
    title=site.data.i18n.en.pages.greenfee.headerTitle
    subtitle=site.data.i18n.en.pages.greenfee.headerSubtitle
-%}

{% assign sorted_products = site.data.products.greenfee | sort %}
{% for product_hash in sorted_products %}
    {% assign product = product_hash[1] %}

    {% capture productContent %}
        <h2>{{ product.title }}</h2>
        <br>
        <p>{{ product.description }}</p>
        <br>
        <table class="table">
            <tbody>
                {% for point in product.points %}
                    <tr>
                        <td>{%- include svg-list-item.html -%}</td>
                        <td>{{ point }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endcapture %}
    {% include blocks/product.html image=product.image content=productContent %}
{% endfor %}

{% include en/what-we-can-do.html %}
