<script type="text/javascript">
    window.onload = function() {
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();
            this.contact_number.value = Math.random() * 100000 | 0;
            emailjs.sendForm('service_bfi866u', 'template_khw2yir', this)
                .then(function() {
                    console.log('SUCCESS!');
                    alert('{{ site.data.i18n[page.lang].contact.success }}');
                }, function(error) {
                    console.log('FAILED...', error);
                    alert('{{ site.data.i18n[page.lang].contact.error }}');

                });
            document.getElementById("myForm").style.display = "none";

        });

    }
</script>
<script type="text/javascript">
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight) + "px";
    }
</script>
