<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Website",
        "brand": {
            "@type": "Brand",
            "logo": "{{ "/assets/img/logo.png" | absolute_url }}",
            "url": "{{ site.url }}",
            "name": "{{ site.title }}",
            "sameAs": [
                "https://www.facebook.com/{{ site.social.facebook }}",
                "https://twitter.com/{{ site.social.twitter }}",
                "https://instagram.com/{{ site.social.instagram }}",
                "https://www.linkedin.com/company/{{ site.social.linkedin }}"
            ]
        }
    }
</script>
