body
{
	padding-top: 40px; 
	background-attachment:scroll; 
	background-position:left top;
	background-size: 35%; 
	background-color: transparent; 
	background-repeat: no-repeat; 
	background-image: url('../assets/images/xts_logo.jpg');
}

.xts_article
{
	padding-top: 40px; 	
	margin-bottom: 20%;
	margin-top: 20%;
	min-height: 100%;
}

.xts_thumbnail
{
	width: 200px;
	height: 150px;
}