---
id: layout-default
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">

<head>
    <meta charset="utf-8">
    <title>{{ site.data.i18n.en.site.title }} - {{ site.data.i18n.de.pages[page.title].title }}</title>
    <meta name="description" content="{{ site.data.i18n.en.site.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl_root }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl_root }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl_root }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/libs/bootstrap.min.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/libs/font-awesome.min.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/libs/animate.min.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/libs/slick.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/libs/magnific-popup.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/media.css" | prepend: site.baseurl_root }}">
    <link rel="canonical" href="{{ site.url }}" />
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <meta name="google-site-verification" content="{{ site.google.siteVerification.code }}" />
    {%- include nxc/google.html -%}
    {%- include nxc/pipedrive.html -%}
    {%- include nxc/js-schema.html -%}
    {%- include nxc/emailjs.html -%}
    {%- include nxc/contact-script.html -%}
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" class="loaded">
    <div class="site-content {{ page.contentClass }}">
        {%- include de/navbar.html navbarClass=page.navbarClass -%}
        
        {{ content }}
    </div>
    
    <a class="anchor" id="footer"></a>
    {%- include de/footer.html -%}

    {%- include de/contact.html -%}

    {%- include nxc/footer-scripts.html -%}
</body>

</html>
