<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Website",
        "brand": {
            "@type": "Brand",
            "logo": "{{ site.url }}/img/logo.png",
            "url": "{{ site.url }}",
            "name": "Nexxchange",
            "sameAs": [
                "https://www.facebook.com/nexxchange",
                "https://twitter.com/nexxchange",
                "https://instagram.com/nexxchange",
                "https://www.linkedin.com/company/nexxchange-ag"
            ]
        }
    }
</script>
